@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    /* background: #000; */
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    /* line-height: 0; */
}
.content-box-sm{
    padding: 60px 0;

}
.content-box-md{
    padding: 80px 0;
}
.content-box-lg{
    padding: 120px 0;
}
a{
  text-decoration: none;  
  display: inline-block;
}
.g-btn{
    color: white;
    border: 1px solid white;
    padding: 18px 28px 16px 27px;
    transition: .25s ease-in-out;
    font-weight: normal;

}
.g-btn:hover{
    color: blanchedalmond;
    background: rgb(8, 119, 108);
    border: 1px solid blanchedalmond;

    transition: .25s ease-in-out;
}
li{
    position: relative;
}
img{
    width: 100%;
    display: block;
}
.container{
    width: 100%;
    max-width: 1030px;
    /* max-width: 1100px; */
    margin: 0 auto;
}
.header{
    background: #121E2C;
    color: white;
}
.header .header-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.header .header-wrap .wrap-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header .header-wrap .wrap-content p{
    font-size: 12px;
    color: #ababab;
    letter-spacing: 0.48px;
    padding-right: 21px
    
}
.header .header-wrap .wrap-content p{
    padding: ;
}
.header .header-wrap .wrap-content p:not(:first-child){
    margin: 0 10px;
}
.header .header-wrap .wrap-content p.address::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' fill='%23fff' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M503.402,228.885L273.684,19.567c-10.083-9.189-25.288-9.188-35.367-0.001L8.598,228.886c-8.077,7.36-10.745,18.7-6.799,28.889c3.947,10.189,13.557,16.772,24.484,16.772h36.69v209.721c0,8.315,6.742,15.057,15.057,15.057h125.914c8.315,0,15.057-6.741,15.057-15.057V356.932h74.002v127.337c0,8.315,6.742,15.057,15.057,15.057h125.908c8.315,0,15.057-6.741,15.057-15.057V274.547h36.697c10.926,0,20.537-6.584,24.484-16.772C514.147,247.585,511.479,236.246,503.402,228.885z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M445.092,42.73H343.973l116.176,105.636v-90.58C460.149,49.471,453.408,42.73,445.092,42.73z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
     width: 22px;
     height: 18px;
     display: inline-block;
     background-repeat: no-repeat;
     fill: white;
     background-color: #192330;
     vertical-align: middle;
     padding-right: 5px;
}
.header .header-wrap .wrap-content p.phone::before{
    content: "";
     
    background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 503.604 503.604' style='enable-background:new 0 0 503.604 503.604;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M337.324,0H167.192c-28.924,0-53.5,23.584-53.5,52.5v398.664c0,28.916,24.056,52.44,52.98,52.44l170.412-0.184c28.92,0,52.58-23.528,52.58-52.448l0.248-398.5C389.908,23.452,366.364,0,337.324,0z M227.68,31.476h49.36c4.336,0,7.868,3.52,7.868,7.868c0,4.348-3.532,7.868-7.868,7.868h-49.36c-4.348,0-7.868-3.52-7.868-7.868C219.812,34.996,223.332,31.476,227.68,31.476z M198.02,33.98c2.916-2.912,8.224-2.952,11.136,0c1.46,1.456,2.324,3.5,2.324,5.588c0,2.048-0.864,4.088-2.324,5.548c-1.452,1.46-3.504,2.32-5.548,2.32c-2.084,0-4.088-0.86-5.588-2.32c-1.452-1.456-2.28-3.5-2.28-5.548C195.736,37.48,196.568,35.436,198.02,33.98z M250.772,488.008c-12.984,0-23.544-10.568-23.544-23.548c0-12.984,10.56-23.548,23.544-23.548s23.544,10.564,23.544,23.548C274.316,477.44,263.752,488.008,250.772,488.008z M365.488,424.908H141.232V74.756h224.256V424.908z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
     width: 22px;
     height: 18px;
     display: inline-block;
     background-repeat: no-repeat;
     fill: white;
     vertical-align: middle;
     padding-right: 5px;

}
.header .header-wrap .wrap-content p.mail::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='%23fff' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 477.867 477.867' style='enable-background:new 0 0 477.867 477.867;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M460.8,68.267H17.067l221.867,182.75L463.309,68.779C462.488,68.539,461.649,68.368,460.8,68.267z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M249.702,286.31c-6.288,5.149-15.335,5.149-21.623,0L0,98.406v294.127c0,9.426,7.641,17.067,17.067,17.067H460.8c9.426,0,17.067-7.641,17.067-17.067V100.932L249.702,286.31z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E"); 
    width: 22px;
     height: 18px;
     display: inline-block;
     background-repeat: no-repeat;
     fill: white;
     vertical-align: middle;
     padding-right: 5px;

}
.header .wrap-icon a{
    width: 28px;
    height: 29px;
    padding: 6px;
    margin: 0 5px;
    background-color: transparent;
    transition: background-color 0.25s ease-in-out;

    
}
.header .wrap-icon a svg{
    width: 100%;
    height: 100%;
    fill: white;
}
.header .wrap-icon a:hover{
    background: #2DACE3;
}
@media screen and (max-width: 767px){
    .header .header-wrap{
        justify-content: center;
    }
}

.container .menu .menu-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background:rgba(0,0,0,0.3); */
    margin: 45px 10px;
    align-items: center;
}

.container .menu .menu-wrap .logo{
    width: 100%;
    max-width: 203px;
    height: 26px;
    object-fit: contain;

}
.container .menu .menu-wrap .logo img{
    width: 100%;
}

.container .menu .menu-wrap ul.menus{
    display: flex;
    flex-wrap: wrap;
}
.container .menu .menu-wrap ul.menus li{
    margin: 0 10px;
   font-weight: bold;
    padding: 5px 10px;
    transition: background-color .5s ease-in-out;
}
.container .menu .menu-wrap ul.menus li a{
    color: black;
    font-size: 13px;
    text-transform: uppercase;

}
.container .menu .menu-wrap ul.menus li a svg{
    filter: grayscale(100%);

}
.container .menu .menu-wrap ul.menus li a:hover{
    
    color: #009688;
}
.container .menu .menu-wrap .openBtn{
   
    display: none;
}
.container .menu .menu-wrap ul.menus .menu-closeBtn{
    width: 49px;
    height: 42px;
    display: none;
    margin-left: auto;
    padding: 8px 5px;
}
.container .menu .menu-wrap ul.menus .menu-closeBtn svg{
    width: 100%;
    height: 100%;
    
}
.container .menu .menu-wrap .search{
    margin: 5px 5px 0 5px;
    color: #b5b5b5;
    position: relative;
    /* overflow: hidden; */
    cursor: pointer;
}
.container .menu .menu-wrap .search .search-wrap svg{
    /* filter: grayscale(100%); */
    width: 25px;
    height: 25px;
}
.container .menu .menu-wrap .search .search-bar{
    position: absolute;
    top: 32px;
    right: -6px;
    /* transform: translateX(180px); */
    display: none;
    transition: .25s ease-in-out;

}

.container .menu .menu-wrap .search .search-bar.active{
    /* transform: translateX(0); */
    display: block;
    transition: .25s ease-in-out;
}
@media screen and (max-width: 1230px){
    .container .menu .menu-wrap .logo {
        max-width: 180px;
    }
}
@media screen and (max-width: 1430px){
    .container .menu .menu-wrap .openBtn{
        display: block;
        margin-right: 20px;
    }
    .container .menu .menu-wrap .dropdown{
text-align: center;
    }
    .container .menu .menu-wrap .dropdown{
        background: rgba(0,0,0,0.7);
        width: 300px;
        height: 100vh;
        position: fixed;
        top:130px;
        right: 0;
        transform: translateX(300px);

        transition: transform .5s ease-in-out;
        z-index: 1;
        display: none;
}
.container .menu .menu-wrap .dropdown.active{
    transform: translateX(0);

}
    .container .menu .menu-wrap ul.menus{
        display: block;
    }
    .container .menu .menu-wrap ul.menus li a{
        color: white;

    }
    .container .menu .menu-wrap .menus.active{
        display: block;
    }
    .container .menu .menu-wrap .search{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .container .menu .menu-wrap .dropdown{
    display: block;
    text-align: center;
    }
    .container .menu .menu-wrap ul.menus .menu-closeBtn{
        display: block;
        text-align: center;

    }
}
@media screen and (max-width: 767px){
    .container .menu .menu-wrap .dropdown{
        top: 160px;
    }
}
@media screen and (max-width: 575px){
    .container .menu .menu-wrap .dropdown{
        top: 180px;
    }
}
@media screen and (max-width: 355px){
    .container .menu .menu-wrap .dropdown{
        top: 200px;
    }
}
.home{
    width: 100%;
    height: 100%;
}
.home-content{
    position: relative;
    width: 100%;
    height: 100%;
}
.home img{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
}
.home .img-overlay{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    /* opacity: 0; */
    justify-content: center;
}
.home .img-overlay .overlay-content{
    width: 100%;
    max-width: 600px;
    margin-left: -25%;
}
.home .img-overlay .overlay-content h3{
    line-height: 1.05;

}
.home .img-overlay .overlay-content h3 span{
    font-size: 57px;
    text-transform: uppercase;
}
.home .img-overlay .overlay-content p{
    font-size: 13px;
    line-height: 1.85;
}
.home .img-overlay .overlay-content .btn{
    margin-top: 50px;
}
.home .slick-dots{
    bottom: 5%;
}
.home ul.slick-dots li button:before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.99);
}

@media screen and (max-width: 991px){
    .home .img-overlay .overlay-content{
        
        margin-left: -5%;
    }
}
@media screen and (max-width: 767px){
    .home .img-overlay .overlay-content{
        
        margin-left: 10px;
    }
    .home .img-overlay .overlay-content h3 span{
        font-size: 47px;
        text-transform: uppercase;
    }
}
@media screen and (max-width: 490px){
    .home .img-overlay .overlay-content .btn{
        margin-top: 10px;
    }
    .home .img-overlay .overlay-content h3{
        line-height: 1;
        font-size: 14px;
    }
    .home .img-overlay .overlay-content h3 span{
        font-size: 27px;
        text-transform: uppercase;
    }
    .home .img-overlay .overlay-content p{
        font-size: 12px;
        line-height: 1.2;
        margin-top: 5px;

    }
}
@media screen and (max-width: 450px){
    .g-btn{
        color: white;
        border: 1px solid white;
        padding: 5px 10px 5px 10px;
        transition: .25s ease-in-out;
    
    }
}
.home1{
}
.home1 .home1-content{
    text-align: center;
    padding-bottom: 50px;
    position: relative;


}
.home1 .home1-content h3 span{
    color: #0E9789;
    font-size: 54px;
    opacity: .5;
    padding: 0 5px;
}
@media screen and (max-width: 575px){
    .header .header-wrap .wrap-content{
        justify-content: center;
    }
}
@media screen and (max-width: 450px){
    .home1 .home1-content h3 span {
        color: green;
        font-size: 34px;
        opacity: .5;
        padding: 0 5px;
    }
    
}
.home-boxes{
    width: 100%;
    background-color: #fafafa;

}
.design{
    color: #0E9789;
    transform: rotate(-90deg);
    position: absolute;
    top: -62px;
    left: -375px;
    font-size: 166px;
    letter-spacing: 9.1px;
    opacity: .2;
}

.boxes-wrap {
    display: flex;
    flex-wrap:wrap ;
    padding: 5% 10%;
    /* margin-top: -5.2%; */
    
}
.home-boxes .box{
    width: 100%;
    max-width: 25%;
    text-align: center;
    padding: 15px;
    font-size: 13px;
    line-height: 1.25;
}

.home-boxes .box svg{
    width: 50px;
    height: 50px;
    transition: .5s ease-in-out;

}
.home-boxes .box svg:hover{
    fill: #009688;
    transition: .5s ease-in-out;
}
@media screen and (max-width: 991px){
    .boxes-wrap {
        padding: 5%;
    }
}
@media screen and (max-width: 767px){
    .boxes-wrap {
        padding: 2%;
    }
    .home-boxes .box{
        
        max-width: 50%;
        padding: 15px;
        font-size: 10px;
    }
}
@media screen and (max-width: 400px){
    .home-boxes .box{
        
        max-width: 100%;
        padding: 10px;
        font-size: 13px;
    }
}
.project .project-wrap{
    text-align: center;
}
.project .project-wrap span{
    width: 76px;
    height: 2px;
    margin: 22px 76px 44px 49px;
    background-color: #e8e8e8;
    display: inline-block;
    position: relative;
}
.project .project-wrap span::before{
    content: "";
    width: 39px;
    height: 2px;
    position: absolute;
    top: 0px;
    left: 19px;
    display: inline-block;
    background: #0E9789;
}
.project .project-wrap span::after{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 33px;
    display: inline-block;
    background: #0E9789;
}

.project .project-wrap ul.tab_navigation li svg{
    width: 14px;
  height: 13px; 
}
.project .project-wrap ul.tab_navigation li{
    display: inline-block;
    padding: 5px 15px;
    color: #808080;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}
.project .project-wrap ul.tab_navigation li.btn-active {
   color: white;
    background:  #0E9789;
}
/* .project .project-wrap ul.tab_navigation li:first-child.btn-active{
    color: white;
    background:  #0E9789;
} */

.project .project-wrap .tab_container_area{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.tab_container_inner{
    position: relative;
}
.project .project-wrap .tab_container_area .tab_container{
    width: 100%;
    max-width: 25%;
    padding: 5px;
    position: relative;
    display: none;
    transition: .25s ease-in-out;
    


}
.project .project-wrap .tab_container_area .tab_container .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(14, 151, 137,0.8);
    height: 100%;
    width: 100%;
    transition: .25s ease-in-out;
    opacity: 0;
}
.project .project-wrap .tab_container_area .tab_container:hover .overlay{
    opacity: 1;
    transition: .35s ease-in-out;

}
.project .project-wrap .tab_container_area .tab_container .overlay svg{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
    fill: white;

}
.project .project-wrap .tab_container.active {
    display: block;
    /* background: blue; */
}
@media screen and (max-width: 767px){
    .project .project-wrap .tab_container_area .tab_container{
        max-width: 50%;
    }
}
@media screen and (max-width: 450px){
    .project .project-wrap .tab_container_area .tab_container{
        max-width: 100%;
    }
}
.experties{
    background-color: #FAFAFA;
}
.experties .experties-wrap{
    display: flex;
    flex-wrap: wrap;
}
.tabs{
    width: 100%;
    max-width: 45%;
}
.tabs h3{
    margin-bottom: 50px;
}
.progress h3{
    margin-bottom: 50px;
}
.tabs ul{
    background-color: white;
    padding: 5px;

}
.tabs ul li{
    border: 1px solid #e5e5e5;
    margin: 0;
    padding: 0;
    position: relative;
    
}
.tabs ul li > p{
    padding-left: 49px;
    margin-top: -3px;
    
}
.tabs ul li svg{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    padding: 5px;
    fill: #B0B0B0;
}
.tabs ul li svg.minus{
    display: none;
}
.tabs ul li::before{
    content: "";
    display: inline-block;

}
.tabs ul .dropdown-body{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #e5e5e5;
    /* display: none; */
    margin-top: -6px;
    padding: 23px;
    align-items: center;
}
.tabs ul .dropdown-body.active{
    /* display: block; */
}
.tabs ul .dropdown-body img{
    width: 100%;
    max-width: 20%;
    object-fit: cover;
    width: 81px;
  height: 81px;
}
.tabs ul .dropdown-body p{
    width: 100%;
    max-width: 80%;
    padding-left: 13px;
    font-size: 13px;
    line-height: 1.6;
}
.progress{
    width: 100%;
    max-width: 55%;
    padding-left: 50px;
}
.progress .progress-bar{
    background: #fff;
    height: 27px;
    width: 100%;
    border-radius: 5px;
    padding: 4px 8px;   
    position: relative;
}
.progress .progress-bar svg{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: -28px;
}
.progress .progress-bar p{
    position: absolute;
    top: -14px;
    right: 10px;
}
.progress .progress-bar .svg1 svg{
    fill: #5DC1DD;
}

.fill{
    background: linear-gradient(135deg,rgba(255,255,255,0.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0.5) 75%,transparent 700px,transparent);
    border-radius: 5px;
    background-size: 40px;
    animation: move 0.5s linear infinite;
    height: 100%;
    width: 100%;
    display: block;
}
@keyframes move{
    100%{
        background-position: 40px 0px;
    }
}
.a{
    background-color: #60BC60;
    width: 90%;
    height: 100%;
}
.a1{
    background-color: #5FC4E0;
    width: 80%;
    height: 100%;
}
.a2{
    background-color: #F2C077;
    width: 55%;
    height: 100%;
}
.a3{
    background-color: #D24E4B;
    width: 60%;
    height: 100%;
}
@media screen and (max-width: 767px){
    .tabs{
        max-width: 100%;
    }
    .progress{
        max-width: 100%;
    }
    .tabs h3 {
        padding-left: 30px;
    }
    .progress .progress-bar{
        margin-right: 2px;
    }
    .progress .progress-bar p {
        
        right: 2px;
    }
    .progress {
        padding-right: 5px;
    }
}
.crafts{
}
.crafts .crafts-wrap{
    display: flex;
    flex-wrap: wrap;
}
.crafts .crafts-wrap .left{
    width: 100%;
    max-width: 50%;
    padding-left: 10px;

}
.crafts .crafts-wrap .left p{
    font-size: 14px;
    line-height: 1.7;
    color: #808080;
}
.crafts .crafts-wrap .left .btn{
    margin-top: 30px;
}
.crafts .crafts-wrap .right{
    width: 100%;
    max-width: 45%;
    padding-left: 30px;
    position: relative;

}
.crafts .crafts-wrap .right span{
    position: absolute;
    height: 30vw;
    width: 100%;
    max-width: 50%;
    max-height: 308px;
    background: #07877b;
    top: -19px;
    left: 13px;
    z-index: 0;
}
.crafts .crafts-wrap .right img{
    /* width: 100%;
    height: 100%; */
    object-fit: contain;
    z-index: 1;
    position: relative;
}
.crafts a{
    color: black;    
    border: 1px solid black;
}
@media screen and (max-width:767px){
    .crafts .crafts-wrap .left  p{
        font-size: 11px;
        line-height: 1.2;
    }
}
@media screen and (max-width: 575px){
    .crafts .crafts-wrap .right{
        width: 100%;
        max-width: 100%;
        padding: 30px;
    }
    .crafts .crafts-wrap .left{
        width: 100%;
        max-width: 100%;
        padding-left: 30px;
    
    }
    .crafts .crafts-wrap .left  p{
        font-size: 14px;
        line-height: 1.7;
    }
    .crafts .crafts-wrap .right span {
        position: absolute;
    height: 62vw;
    width: 100%;
    max-width: 50%;
    max-height: 100%;
    background: #07877b;
    top: 9px;
    left: 13px;
    z-index: 0;
    }
}
.services{
    background-color: #F7F7F7;
}
.services-wrap{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
.services-wrap .box{
    width: 100%;
    max-width: 25%;
    margin-top: 40px;

}
.services-wrap .box svg{
    width: 43px;
    height: 33px;
}
.services-wrap .box p{
    line-height: 1.1;
    font-size: 12px;
}
.services-wrap .box:not(:first-child){
    padding-left: 15px;
}
@media screen and (max-width: 767px){
    .services-wrap .box{
        max-width: 50%;
    
    }
    .services-wrap .box{
        padding-left: 15px;
    }
}
@media screen and (max-width: 352px){
    .services-wrap .box{
        max-width: 100%;
        text-align: center;
    
    }
}
.theme{
    background-color: black;
}
.theme .theme-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px;
}
.theme .theme-wrap .left{
    width: 100%;
    max-width: 65%;
    color: white;
}
.theme .theme-wrap .left p{
    font-size: 13px;
}
.theme .theme-wrap .right{
    width: 100%;
    max-width: 35%;
}
.theme .theme-wrap .right .btn{
    text-align: right;
}
@media screen and (max-width: 490px){
    .theme .theme-wrap .left{
        width: 100%;
        max-width: 100%;
        text-align: center;
        
    }
    .theme .theme-wrap .right{
        width: 100%;
        max-width: 100%;
        
    }
    .theme .theme-wrap .right .btn{
        text-align: center;
        margin-top: 30px;
    }
}
.team{
    text-align: center;

}
.team .team-wrap .boxes{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
.team .team-wrap .box{
    width: 100%;
    max-width: 25%;
}
.team .team-wrap .box{
    padding: 0 6px;
}
.team .team-wrap .box .box-wrap{
    position: relative;
}

.team .team-wrap .box .box-wrap .overlay .emp-name{
    margin: 30px  0;
}
.team .team-wrap .box .box-wrap .overlay .emp-name h4{
    margin-bottom: -20px;
}
.team .team-wrap .box .box-wrap .overlay p{
    font-size: 15px;
    padding: 0 7px 7px;

}
.team .team-wrap h3 span{
    color: #0D9386;
}
.team .team-wrap .box .box-wrap .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    color: white;
    opacity: 0;
    transition: opacity .6s ease-in-out;

}
.team .team-wrap .box .box-wrap:hover .overlay{
    opacity: 1;
}

.team .team-wrap img{
    object-fit: cover;
}
.team .team-wrap span.logo1{
    width: 76px;
    height: 2px;
    margin: 22px 76px 44px 49px;
    background-color: #e8e8e8;
    display: inline-block;
    position: relative;
}
.team .team-wrap span.logo1::before{
    content: "";
    width: 39px;
    height: 2px;
    position: absolute;
    top: 0px;
    left: 19px;
    display: inline-block;
    background: #0E9789;
}
.team .team-wrap span.logo1::after{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: 33px;
    display: inline-block;
    background: #0E9789;
}
.team .team-wrap .box .box-wrap .overlay .btm-icon{
    background-color: #0D9386;
    padding: 10px;
}

.team .team-wrap svg{
    width: 25px;
    height: 25px;
    fill: white;
    padding: 3px 5px;

}
.team .team-wrap svg:hover{
    background-color: white;
    fill:#0D9386 ;
}
@media screen and (max-width: 767px){
    .team .team-wrap .box{
        max-width: 50%;
        margin-bottom: 6px;
    }
}
.prices{
    background-image: url(../imgs/bg-img.jpg);
    width: 100%;
    /* height: 100vh; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.prices .overlay{
    color: white;
    text-align: center;

}
.prices .overlay::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    color: white;
    z-index: 0;
}
.prices .overlay h2{
    margin-bottom: 70px;
    z-index: 2;
    color: white;
    position: relative;


}

.prices .prices-wrap{
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
}
.prices .prices-wrap .card{
    width: 100%;
    max-width: 33.33%;
    padding: 0 10px;
    z-index: 1;
}

.prices .prices-wrap .card .price{
    background-color: #000;
    padding: 15px 0;
    position: relative;

}
.prices .prices-wrap .card .price span{
    background-color: white;
    width: 100%;
    position: absolute;
    top: -40px;
    left: 0;
    height: 39px;
}
.prices .prices-wrap .card .price span::before{
    content: "Most Popular";
    width: 100%;
    height: 100%;
    /* display: inline-block; */
    position: absolute;
    top: 5px;
    left: 0px;
    color: black;
}
.prices .prices-wrap .card .price h1{
    position: relative;
    transition: color .5s ease-in-out;
}
.prices .prices-wrap .card .price h1::before{
    content: "$ ";
    display: inline-block;
    font-size: 23px;
    color: white;
    position: absolute;
    top: 0;
    left: 33%;
}
.prices .prices-wrap .card .price h1::after{
    content: " / MO";
    display: inline-block;
    font-size: 23px;
    color: white;
    position: absolute;
    bottom: 0;
    right: 20%;
}
.prices .prices-wrap .card .packages{
    background-color: #fff;
}
.prices .prices-wrap .card .packages li{
    line-height: 3.62;
    border-bottom: 1px solid #EDECED;
    padding: 0 3px;
    /* font-size: 100px; */

}
.prices .prices-wrap .card .packages li::before{
    content: ">";
    width: 14px;
    height: 14px;
    color: black;
    padding-right: 3px;
    /* display: block; */
    display: inline;

}
.prices .prices-wrap .card .packages li a{
    color: black;
}
.prices .prices-wrap .card .now-btn{
    background: #000;
    margin-top: 5px;
    transition: background-color .5s ease-in-out;

}
.prices .prices-wrap .card .now-btn a{
    color: white;
    padding: 10px;
}
.prices .prices-wrap .card:hover h1{
    color: #0E9789;
}
.prices .prices-wrap .card:hover .now-btn{
    background-color: #0E9789;
}
@media screen and (max-width: 945px){
    .prices .prices-wrap .card .price h1{
        font-size: 29px;
    }
    .prices .prices-wrap .card .price h1::before{
        font-size: 15px;
        left: 33%;
    }
    .prices .prices-wrap .card .price h1::after{
        font-size: 15px;
        right: 21%;
    }
    .prices .prices-wrap .card .packages li{
        line-height: 2.62;
        font-size: 11px;
    }
}

@media screen and (max-width: 767px){
    .prices .prices-wrap .card .price h1{
        font-size: 20px;
    }
    .prices .prices-wrap .card .price h1::before{
        font-size: 13px;
        left: 33%;
    }
    .prices .prices-wrap .card .price h1::after{
        
        font-size: 13px;
        right: 21%;
    }
    .prices .prices-wrap .card {
        width: 100%;
        max-width: 33.33%;
        padding: 0 10px;
        position: relative;
        z-index: 1;
    }
    .prices .prices-wrap .card .packages li{
        /* line-height: 1.82; */
        font-size: 10px;
    }
}
@media screen and (max-width: 605px){
    .prices .prices-wrap .card .price h1{
        font-size: 35px;
    }
    .prices .prices-wrap .card .price h1::before{
        font-size: 23px;
        left: 33%;
    }
    .prices .prices-wrap .card .price h1::after{
        
        font-size: 13px;
        right: 27%;
    }
    .prices .prices-wrap .card {
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .prices .prices-wrap .card .packages li{
        line-height: 2.29;
        font-size: 16px;
    }
    .prices .prices-wrap .premium{
        margin-top: 60px;
    }
}
.posts{
    text-align: center;
}
.posts .posts-wrap{
    display: flex;
    flex-wrap: wrap;

}
.posts .posts-wrap .card{
    width: 100%;
    max-width: 33.33%;
    padding: 0 8px 0 8px;
    text-align: left;
}
.posts .posts-wrap .card .card-img{
    position: relative;
    cursor: pointer;
}
.posts .posts-wrap .card span{
    background-color: #2AA59A;
    padding: 5px 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
}
.posts .posts-wrap .card p{
    font-size: 11;
    color:#8c8c8c;
}
.posts .posts-wrap .card a{
    color: #2AA59A;
}
@media screen and (max-width: 575px){
    .posts .posts-wrap .card{
        max-width: 80%;
        margin: 0 auto;
    }
}
.contact{
    background-color: #F0F0F1;
    text-align: center;
}
.contact h2{
    margin-bottom: 70px;
}
form{
    padding: 0 10px;
}
form input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #ECECEC;
    margin-bottom: 17px;
    border: .2px solid #6d6d6d;
    font-family: Poppins;
}
form textarea{
    width: 100%;
    height: 509px;
    background-color: #ECECEC;
    padding: 10px 15px;
    margin-bottom: 25px;
    font-family: Poppins;

}
form .btn{
    width: 100%;
    background-color: #2AA59A;
    cursor: pointer;
}
form .btn a{
    color: white;
    padding: 10px;
}


/* map */
.map{
    position: relative;
    background-image: url(../imgs/map.png);  
    width: 100%;
    /* height: 100vh; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    height: 165px;
    cursor: pointer;
}
.map .overlay{
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-height: 165px; */
}
.map .overlay::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    color: white;
}
.map .overlay h2{
    margin: 35px 0;
    z-index: 2;
    color: white;
    position: relative;
}
.map .overlay h2::after{
    content: ">";
    transform: rotate(90deg);
    font-size: 27px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    line-height: 0.73;
}






.footer{
    text-align: center;
    background-color: #121E2C;
    color: white;
    padding: 70px 0 20px 0;
}
.footer h2{
    margin-bottom: 70px;
}
.footer .social-icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer .social-icon a{
    border: 1px solid white;
    border-radius: 50%;
    /* padding: 0 8px; */
    padding: 11px 10px 7px 10px;
    margin: 0 8px;
    text-align: center;
    transition: background-color .5s ease-in-out;


}
.footer .social-icon a:last-child{
    transition: background-image .5s ease-in-out;

} 
.footer .social-icon a:first-child:hover{
    background-color: #4867AA;
}
.footer .social-icon a:nth-child(2):hover{
    background-color: #0077B5;
}
.footer .social-icon a:nth-child(3):hover{
    background-color: #50ABF1;
}
.footer .social-icon a:last-child:hover{
    background-image: linear-gradient(45deg, #9327AC, #DA1C6E, #FDB63D);
    
}
.footer .social-icon a svg{
    width: 25px;
    height: 21px;
    fill: #6b6b6b;
    transition: fill .5s ease-in-out;


}
.footer .social-icon a:hover svg{
    fill: white;
}

.footer .bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding: 0 8px;

} 
.footer .bar ul{
    display: flex;
    flex-wrap: wrap;
}
.footer .bar ul li{
    margin: 0 5px;
}
.footer .bar ul li:hover a{
    color: #00AAF4;
}
.footer .bar ul li a{
    color: white;
    transition: color .5s ease-in-out;
}
.footer .bar h3{
    color: white;
}
@media screen and (max-width: 590px){
    .footer .bar{
        justify-content: center;
    }
    .footer .bar ul{
        justify-content: center;

    }
}